* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arcade-R';

    src: url('../webfonts_Arcade-R/Arcade-R.ttf.woff') format('woff'),
        url('../webfonts_Arcade-R/Arcade-R.ttf.svg#Arcade-R') format('svg'),
        url('../webfonts_Arcade-R/Arcade-R.ttf.eot'),
        url('../webfonts_Arcade-R/Arcade-R.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: black;
    width: 599.94px;
    height: 599.94px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    margin-left: 5rem;

}

.pacman-start {
    height: 20%;
    width: 20%;
    margin: 0 auto;
}

.start-button {
    background-color: lightgrey;
    width: 200px;
    height: 50px;
    margin: 4rem auto;
    font-family: 'Arcade-R';
    text-shadow: -1px -1px black;
    color: grey;
    font-size: 0.9rem;
    box-shadow: 0 4px grey;
    border: lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button {
    background-color: lightgrey;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-family: 'Arcade-R';
    text-shadow: -1px -1px black;
    color: grey;
    font-size: 0.9rem;
    box-shadow: 0 4px grey;
    border: lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.pacman-left {
    background-image: url("../images/pacman-left.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.pacman-right {
    background-image: url("../images/pacman-right.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.pacman-up {
    background-image: url("../images/pacman-up.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.pacman-down {
    background-image: url("../images/pacman-down.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.food {
    background-image: url("../images/dot.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}

.power-up {
    background-image: url("../images/power-up.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.blinky {
    background-image: url("../images/blinky.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pinky {
    background-image: url("../images/pinky.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.inky {
    background-image: url("../images/inky.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.clyde {
    background-image: url("../images/clyde.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.frightened {
    background-image: url("../images/frightened.png");
    background-repeat: no-repeat;
    background-size: contain;

}